<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <header>
        <img id="logo" src="https://images2.imgbox.com/59/dd/TdlHXIFm_o.png" alt="Lazada Logo">
        
    </header>
    <body>
        <form action="/api/users/signup" method="post" enctype="multipart/form-data">
            <h1>Username<br>
            <input id="username" type="text" name="username" value="Nguyen Van A"/></h1>
            <label for="role-select">Choose a role:</label>
            <select name="roles" id="role-select">
                <option value="">--Please choose a role--</option>
                <option value="customer">Customer</option>
                <option value="shipper">Shipper</option>
                <option value="vendor">Vendor</option>
            </select>    
            <h2>Requirement:</h2>
            <ol>
                <li>Only letters (lower and upper case) and digits</li>
                <li>A length from 8 to 15 characters</li>
            </ol>
            <p id="username-error" class="hidden">Enter A Valid Username</p>
            <h1>Password<br>
            <input id="password" type="password" name="password" value="qwerty123"/></h1>
            <h2>Requirement:</h2>
            <ol>
                <li>At least one upper case letter</li>
                <li>At least one lower case letter</li>
                <li>At least one digit</li>
                <li>At least one special letter in the set "!@#$%^&*"</li>
                <li>NO other kind of characters</li>
                <li>Has a length from 8 to 20 characters</li>
            </ol>
            <p id="password-error" class="hidden">Enter A Valid Password</p>
            <label for="file">Choose file to upload</label>
            <input type="file" id="file" name="file" multiple/>
            <h1>Name<br>
            <input type="text" name="Name" value="Nguyen Van A"></h1>
            <h1>Address<br>
            <input type="text" name="Address" value="Your Address"></h1>
            <button type="submit">Submit</button>
            <script src="./signup.js"></script>
    </body>
</html>