<!-- 
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Authors: Nguyen Ngo Hoang Nam, Tran Tuan Bao, Nguyen Huy Anh, Duong Quang Nhat Bao
  IDs: s3980297, s3970254, s3956092s, s3987239
  Acknowledgement: Acknowledge the resources that you use here. 
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Login</title>
	<link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">

	<link rel="stylesheet" href="/public/css/default.css" type="text/css">
	<link rel="stylesheet" href="/public/css/login.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap">
</head>
<body>
	<form class="login-box">
		<img id="logo" class="logo" src="/public/image/lazada_logo.png" alt="Lazada Logo">
		<h1 class="title">Lazada</h1>

		<div class="input-group">
			<label for="username">Username</label>
			<input id="username" name="username" type="text" class="username-input" />
		</div>

		<div class="input-group">
			<label for="password">Password</label>
			<input id="password" type="password" name="password" class="password-input" />
		</div>

		<small class="error-text"></small>
		<a href="/signup">Or sign up</a>
		<button class="login-button" type="submit">Login</button>
	</form>
	<script src="/public/js/login.js"></script>
</body>
</html>