:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* outline: 0; */
  vertical-align: baseline;
  box-sizing: border-box;
  background: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
p,
label,
a {
  font-size: 1.6rem;
}
p.subtitle-1 {
  font-size: 1.4rem;
}
p.subtitle-2 {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 4rem 0;
}

ul {
  list-style-type: none;
}

a.clear-style {
  text-decoration: none;
  color: black;
}
a.clear-style:visited {
  color: black;
}
.clickable-text {
  cursor: pointer;
  color: #ed6600;
}
.clickable-text:hover {
  color: #703101;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}

.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}
.align-items-start {
  align-items: start !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-stretch {
  align-items: stretch !important;
}

.width-100 {
  width: 100% !important;
}
.width-auto {
  width: auto !important;
}
.height-100 {
  height: 100% !important;
}
.height-auto {
  height: auto !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  border: solid 1px gray;
  width: auto;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 12px 20px;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}

.container {
  width: 100%;
}
.row {
  width: min(1200px, 100% - 4rem);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

@media only screen and (min-width: 480px) {
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 66.67%;
  }
}

@media only screen and (min-width: 768px) {
  .col-xl-1 {
    width: 33.33%;
  }
  .col-xl-2 {
    width: 66.67%;
  }
  .col-xl-3 {
    width: 100%;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, #ed6600, #10196b);
  color: #fff;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 50px;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: whitesmoke;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebar-toggle,
.logout,
.icon-btn {
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}
.sidebar-toggle:hover,
.logout:hover,
.icon-btn:hover {
  outline: solid gray 2px;
  border-radius: 4px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
}

.sidebar nav ul li a {
  color: #333;
  text-decoration: none;
}

/* Content */
.content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .sidebar {
    left: -100%;
    width: 100%;
    max-width: 200px;
  }

  .content {
    margin-left: 0;
  }
}

/*Footer*/
footer {
  position: relative;
  background: #000;
  font-size: 1.4rem;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}
footer p {
  color: #8a8a8a;
}
footer h3 {
  color: #fff;
}

.text-center {
  text-align: center;
}

.footer-logo {
  width: 200px;
  margin-bottom: 20px;
}
.applogo {
  margin-top: 20px;
  display: flex;
}
.applogo img {
  display: inline-block;
  width: 48%;
}
footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.error-text {
  color: red;
}
.hidden {
  display: none;
}
