

<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="../sign up/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <div id="sidebar" onclick="openCloseNav()">&#x2630;</div>
    <div id="mySidenav" class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div id="loginName" class="login" onclick="openCloseLoginName()">
        <img id="username-icon2" src="https://images2.imgbox.com/32/75/1Q4RChzR_o.png" alt="Username Icon">
        <a id="name" href="#" >Nguyen Van A &#9660;</a>
    </div>
    <div id="signoutBtn" class="signout">
        <a href="">Sign Out</a>
    </div>
    <div> Full Name: Nguyen Van A</div>
    <div> Email Address: abcd@gmail.com</div>
    <script src="./sidebar.js"></script>
   
</body>
</html> 
