<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../sign up/style.css">
    </head>
    <header>
    </header>
    <body>
        <form id="login-box" method="post">
            <img id="logo" src="https://images2.imgbox.com/59/dd/TdlHXIFm_o.png" alt="Lazada Logo">
            <strong id="title">Lazada</strong>
            <img id="username-icon" src="https://images2.imgbox.com/32/75/1Q4RChzR_o.png" alt="Username Icon">
            <input id="username-input" type="text" name="username" placeholder="Username"/>
            <img id="password-icon" src="https://images2.imgbox.com/bf/7d/cbGV3w4N_o.png" alt="Password Icon">   
            <input  id="password-input" type="password" name="password" placeholder="Password" />
            <button id="login-button" type="submit">Login</button>
        </form>
    </body>
</html>