<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
	<link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/public/css/shipper/orderList.css">
</head>
<body>
  <section id="orders">
    <h2>Order List</h2>
    <ul class="order-list">
      <li>
        <span class="order-id">Order ID: #123456789</span>
        <span class="order-status">Status: Shipped</span>
        <a href="order-detail.html">View Details</a>
      </li>
      
      <li>
        <span class="order-id">Order ID: #987654321</span>
        <span class="order-status">Status: Pending</span>
        <a href="order-detail.html">View Details</a>
      </li>      
    </ul>
  </section>
</body>
</html>