<div class="container">
  <div class="navbar">
    <div class="logo">
      <img src="/public/image/logo.png" width="125px">
    </div>

    <form class="search-bar">
      <input type="text" placeholder="Search..." name="q" >
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/my-account">My Account</a></li>
        <li><a href="/cart">My Cart <i class="fas fa-shopping-cart"></i></a></li>
        <li><a href="/orders">My Orders <i class="far fa-file-alt"></i></a></li>
      </ul>
    </nav>
  </div>
</div>