<div class="container">
  <div class="navbar">
    <div class="logo">
      <img src="ui/logo.png" width="125px">
    </div>

    <form action="" class="search-bar">
      <input type="text" placeholder="Search..." name="q" >
      <button type="submit"><img src="ui/search.png"></button>
    </form>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/my-account">My Account</a></li>
        <li><a href="/cart">My Cart <i class="fas fa-shopping-cart"></i></a></li>
        <li><a href="/orders">My Orders <i class="fa-regular fa-file-lines"></i></a></li>
      </ul>
    </nav>
  </div>
</div>