<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Available for both Andriod and IOS.</p>
        <div class="applogo">
          <img src="/public/image/appstore.png" height="50px">
          <img src="/public/image/googleplay.png" height="50px">
        </div>
      </div>
      
      <div class="footer-col-2">
        <img src="/public/image/logo2.png" width="200px">
        <p>Go Where Your Heart Beats<br>Add to cart. Add to life.</p>
      </div>
    </div>
    <hr>
    <p class="copyright">Copyright 2023 - Random Group 1</p>
  </div>
</div>