<!-- 
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Authors: Nguyen Ngo Hoang Nam, Tran Tuan Bao, Nguyen Huy Anh, Duong Quang Nhat Bao
  IDs: s3980297, s3970254, s3956092s, s3987239
  Acknowledgement: Acknowledge the resources that you use here. 
-->
<header class="fixed-header">
  <button class="sidebar-toggle">
    <i class="fas fa-bars fa-lg" style="color: #fff"></i>
  </button>
  <button class="logout">
    <i class="fas fa-power-off fa-lg" style="color: #fff"></i>
  </button>
</header>
<script src="/public/js/signout.js"></script>