<header class="fixed-header">
  <button class="sidebar-toggle">
    <i class="fas fa-bars fa-lg" style="color: #fff"></i>
  </button>
  <button class="logout">
    <i class="fas fa-power-off fa-lg" style="color: #fff"></i>
  </button>
</header>
<script src="/public/js/signout.js"></script>